### Default Constractor

In [1]:
class A: #Empty Constractor or Default Constractor
    pass
obj=A()

In [2]:
class A: #Empty Constractor
    def __init__(self) -> None:
        pass
obj=A()

In [3]:
class A:
    def __init__(self) -> None:
        name="Vishnu"
        print(name)
obj=A()

Vishnu

In [4]:
class A:
    age=10
    def __init__(self) -> None:
        name="Vishnu"
        print(name,self.age)
obj=A()

Vishnu 10

### Parametrized Constractor

In [12]:
class A:
    def __init__(self,age,name,address) -> None:
        print(age,name,address)
class B:
    def __init__(self,age,name,address) -> None:
        address="NCR"
        print(age,name,address)
obj=A(10,"Vishnu","Delhi")
obj=A(10,"Vishnu","Banka",)
obj1=B(25,"Kunal",None)

10 Vishnu Delhi
10 Vishnu Banka
25 Kunal NCR